body {
    background-color:#DCE8CD;
}

.header {
    display:flex;
    justify-content: space-evenly;
    height: 180px;
}

#subtitle {
    margin-top: -5px;
    display:flex;
    justify-content: space-evenly;
}

#subtitle-2 {
    display:flex;
    justify-content: space-evenly;
}

#activate {
    display:flex;
    justify-content: center;
}

#activate:hover{
    opacity: 0.5;
}

.nav{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    height: 360px;
}

.subtitle {
    margin-left: 30px;
    color: #54250B;
}

.nav-button-1 {
    height: 500px;
    position: relative;
    top: -200px;
    left: 130px;
    animation-name: spin;
}

.nav-button-2 {
    height: 200px;
    position: relative;
    left: 100px;
    top: 80px;
}

.nav-button-3 {
    height: 450px;
    position: relative;
    top: -80px;
    left: -20px;
}

.nav-button-1:hover{
    animation-name: upDown;
    animation-duration: 450ms;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.42, 0, 0.7, 0.5);
}

.nav-button-2:hover{
    animation-name: upDown;
    animation-duration: 450ms;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.42, 0, 0.7, 0.5);
}

.nav-button-3:hover{
    animation-name: upDown;
    animation-duration: 450ms;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.42, 0, 0.7, 0.5);
}

@keyframes upDown
{
    from { transform: translateY(0px); }
    to { transform: translateY(30px); }
}

#toggleButton {
    width: 200px;
    display: block;
    position: relative;
    right: -350px;
    margin: auto;
    font-family: 'Work Sans';
    font-weight: bold;
    color: #67523e;
    padding: 10px 18px;
    border-radius: 21px;
    white-space: nowrap;
    background-color: transparent;
    background-image: radial-gradient(#67523e 0,#67523e 75%,transparent 0,transparent 100%);
    background-repeat: no-repeat;
    background-size: 0 0;
    background-position: 50% 50%; 
    border: 1px solid #67523e;
    transition: 0.2s;
    cursor: pointer;
  }
  
  #toggleButton:hover {
    color: #ebf6e0;
    background-size: 105% 150%;
  }
  
  /* dark mode styles - EDIT THESE!!!!
  ------------------------------ */
  
  .dark-mode {
    background: #968270;
    color: whitesmoke;
  }
  
  .dark-mode .container {
    background: grey;
  }
  
  .dark-mode h1 {
    color: whitesmoke;
  }
  
  .dark-mode .highlighted-badge {
    background: whitesmoke;
    color: #000;
  }
  
  .dark-mode .h1 {
    font-style: italic;
    text-align: center;
    border-bottom: 1px solid black;
    letter-spacing: 1px;
  }
  